*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Patrick+Hand&display=swap");

body {
  font-family: "Inter", sans-serif;
}

header h1 {
  text-align: center;
  font-size: 4.4rem;
}

main {
  height: 900vh;
  display: grid;
  grid-template-columns: 300px 1fr;
}

.sidebar {
  padding: 2rem;
  border: 1px solid black;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.sidebar-header h2 {
  font-size: 2.8rem;
}

#new-project-btn {
  position: relative;
  font-size: 1.6rem;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background: none;
}

#new-project-btn-tooltip {
  position: absolute;
  bottom: 120%;
  left: 50%;
  transform: translateX(-50%);
  background: black;
  color: white;
  padding: 6px 8px;
  font-size: 12px;
  border-radius: 4px;
  white-space: nowrap;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
}

#new-project-btn:hover #new-project-btn-tooltip {
  opacity: 1;
  visibility: visible;
}

.new-project-icon {
  width: 28px;
  height: 28px;
}

#project-list {
  list-style: none;
}

.project-element {
  display: flex;
  justify-content: space-between;
  font-family: "Patrick Hand", serif;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
  cursor: pointer;
}

.main-container {
  padding: 2rem;
  border: 1px solid black;
}

#project-modal {
  width: 40%;
  max-width: 50rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  background: white;
  border: none;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.modal-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal-content h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

#project-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content input {
  padding: 8px;
  font-size: 1.6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.modal-content label {
  font-size: 1.6rem;
}

.modal-content button {
  font-size: 2rem;
  align-self: flex-end;
  background: #007bff;
  color: white;
  padding: 0.5rem 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

dialog {
  animation: fade-out 0.7s ease-out;
}

dialog[open] {
  animation: fade-in 0.7s ease-out;
}

dialog[open]::backdrop {
  animation: backdrop-fade-in 0.7s ease-out forwards;
}

.hidden {
  display: none;
}

/* Animation keyframes */

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    display: none;
  }

  100% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: translate(-50%, -50%) scale(0);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(0px);
  }

  100% {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
  }
}
